/* Allow larger dialog width. Claro limits .ui-dialog--narrow to 500px. */
.ckeditor5-entity-browser-dialog.ui-dialog--narrow  {
  max-width: 1200px;
}

@media screen and (max-width: 1199.9px) {
  .ckeditor5-entity-browser-dialog.ui-dialog--narrow  {
    min-width: 95%;
    max-width: 95%;
  }
}